<h1>wifi_setup <%= @wifi_setup.Id %></h1>

<%= link_to 'Edit', edit_wifi_setup_path %> |
<%= link_to 'Back', wifi_setups_path %>
<br/>
<br/>

<% @wifi_setup.attributes.each do |a| %>
    <%= a[0] %>: <%= a[1] %><br/>
<% end %>