<h1>Editing Task  <%= @task.id %> </h1>

<%= form_for @task do |f| %>
    <div class="field">
        <%= f.label :Subject %><br />
        <%= f.text_field :Subject %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

<br/>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>