<h1>Create marketing_strategy__c</h1>

<%= form_for @marketing_strategy do |f| %>
    <div class="field">
        <%= f.label :Name %><br />
        <%= f.text_field :Name %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

<br/>

<%= link_to 'Back', marketing_strategy__cs_path %>