<h1>Marketing Strategy:<h1/>
<h2><%= @marketing_strategy.Name %></h2>

<%= link_to 'Edit', edit_marketing_strategy__c_path %> |
<%= link_to 'Back', marketing_strategy__cs_path %>
<br/>
<br/>

<table class="table">
<tr>
	<th>Attribute</th>
	<th>Value</th>
</tr>
<% @marketing_strategy.attributes.each do |a| %>
<tr>
    <td><%= a[0] %>:</td><td><%= a[1] %></td>
</tr>
<% end %>
</table>