<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <section>
  	<h2>Salesforce Objects</h2>
  	<ul>
  		<li><a href="<%= accounts_path %>">Accounts</a></li>
      <li><a href="<%= opportunities_path %>">Opportunities</a></li>
  		<li><a href="<%= tasks_path %>">Tasks</a></li>
  		<li><a href="<%= marketing_strategy__cs_path %>">Marketing Strategies</a></li>
  	</ul>
  </section>
</div>