<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  
  <section>
      <h2>Salesforce Objects</h2>
      
      <div class="options">
        <a href="<%= accounts_path %>" class="btn">Accounts</a>
        <a href="<%= opportunities_path %>" class="btn">Opportunities</a>
        <a href="<%= tasks_path %>" class="btn">Tasks</a>
        <a href="<%= marketing_strategy__cs_path %>" class="btn">Marketing Strategies</a>
      </div>
      
    </section>

</div>