<h1>Task <%= @task.Id %></h1>

<%= link_to 'Edit', edit_salesforce_task_path %> |
<%= link_to 'Back', salesforce_tasks_path %>
<br/>
<br/>
<table class="table">
	<tr>
		<th>Attribute</th>
		<th>Value</th>
	</tr>
<% @task.attributes.each do |a| %>
    <tr>
    	<td><%= a[0] %>:</td><td><%= a[1] %></td>
    </tr>
<% end %>
</table>