<% if flash[:notice] %>
  <%= flash[:notice] %><br/><br/>
<% end %>

<%= link_to 'New', new_wifi__c_path(@wifis) %> |
<%= link_to 'Back', wifi__cs_path %> 	
<br/>
<br/>

<ul>

<% @wifis.each do |wifi| %>

	<li>ID:	<%= link_to "#{wifi.Id}", wifi %> Name: <%= "#{wifi.Name}" %></li>

<% end %>
</ul>