<h1>Wifi Setup <%= @wifi.Id %></h1>

<%= link_to 'Edit', edit_wifi__c_path %> |
<%= link_to 'Back', wifi__cs_path %>
<br/>
<br/>

<table class="table">
<tr>
	<th>Attribute</th>
	<th>Value</th>
</tr>
<% @wifi.attributes.each do |a| %>
<tr>
    <td><%= a[0] %>:</td><td><%= a[1] %></td>
</tr>
<% end %>
</table>