<h1>Opportunity <%= @opportunity.Name %></h1>
<h2>For Account: <%= Account.find("#{@opportunity.AccountId}").Name %> </h2>

<%= link_to 'Edit', edit_opportunity_path %> |
<%= link_to 'Back', opportunities_path %>
<br/>
<br/>
<table class="table">
	<tr>
		<th>Attribute</th>
		<th>Value</th>
	</tr>
<% @opportunity.attributes.each do |a| %>
    <tr>
    	<td><%= a[0] %>:</td><td><%= a[1] %></td>
    </tr>
<% end %>
</table>