<% if flash[:notice] %>
  <% flash[:notice] %><br/><br/>
<% end %>

<%= link_to 'New', new_salesforce_account_path(@account) %> |
<%= link_to 'Back', salesforce_accounts_path %> 	
<br />
<br />

<!-- Search Box for Accounts -->
<form action="<%= salesforce_accounts_path %>">
	<label for="search_id">ID:</label>
	<input type="text" name="Id" id="search_id" value="<%= @account.Id%>" />
	<input type="submit" value="Search" />
</form>

<form action="<%= salesforce_accounts_path %>">
	<label for="search_name">Name:</label>
	<input type="text" name="Name" id="search_id" value="<%= @account.Name%>" />
	<input type="submit" value="Search" />
</form>

<div class="row">

<table class="table table-bordered">
<% if @account.Id != nil %>
<h2>Selected Account</h2>
<tr>
	<th>Account ID</th>
	<th>Subject</th>
	<th>Created Date</th>	
	<th>Last Modified</th>
	<th>Last Modified By</th>
</tr>
<tr>
	<td><%= link_to "#{@account.Id}", salesforce_account_path(@account) %></td>
	<td><%= "#{@account.Name}" %></td>
	<td><%= "#{@account.CreatedDate.to_formatted_s(:short)}" %></td>
	<td><%= "#{@account.LastModifiedDate.to_formatted_s(:short)}" %></td>
	<td><%# SFDC_Models::User.find("#{@account.LastModifiedById}").Name %></td>
</tr>
</table>

<% end %>

<table class="table table-bordered">
<tr>
	<h2>Recent Accounts</h2>
	<th>Account ID</th>
	<th>Subject</th>
	<th>Created Date</th>
	<th>Last Modified</th>
	<th>Last Modified By</th>
</tr>
<% @accounts.each do |account| %>
	<tr>
	<td><%= link_to "#{account.Id}", salesforce_account_path(account) %></td>
	<td><%= "#{account.Name}" %></td>
	<td><%= "#{account.CreatedDate.to_formatted_s(:short)}" %></td>
	<td><%= "#{account.LastModifiedDate.to_formatted_s(:short)}" %></td>
	<td><%# SFDC_Models::User.find("#{account.LastModifiedById}").Name %></td>
	</tr>
<% end %>
</table>
</div>