<h1>Editing Task  <%= @account.Name %> </h1>

<%= form_for @account do |f| %>
    <div class="field">
        <%= f.label :Name %><br />
        <%= f.text_field :Name %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

<br/>

<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %> |
<%= link_to 'Delete', @account, :confirm => 'Are you sure?', :method => :delete %>