<% if flash[:notice] %>
  <% flash[:notice] %><br/><br/>
<% end %>

<%= link_to 'New', new_account_path(@account) %> |
<%= link_to 'Back', accounts_path %> 	
<br />
<br />

<!-- Search Box for Accounts -->
<%= form_tag accounts_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div class="row">
<table class="table">
<tr>
	<th>Account ID</th>
	<th>Subject</th>
	<th>Account Owner</th>
	<th>Created Date</th>
	<th>Last Modified</th>
</tr>
<% @accounts.each do |account| %>
	<tr>
	<td><%= link_to "#{account.Id}", account %></td>
	<td><%= "#{account.Name}" %></td>
	<td><%# SFDC_Models::User.find_by_id("#{account.OwnerId}").Name %></td>
	<td><%= "#{account.CreatedDate}" %></td>
	<td><%= "#{account.LastModifiedDate}" %></td>
	</tr>
<% end %>
</table>
</div>